#window{
	width: 400px;
	height: 200px;
    height: 780px;
	padding: 10px;
	/*background: rgba(60,232,172,1);*/
    border: 1px solid #ccc;
	overflow: hidden;
}
.luque{
    background: #f2f2f2;
	-webkit-box-shadow: 0px 0px 10px white;
	margin-bottom: 10px;
    padding: 10px;
}
#luques{
    position: absolute;
    top: 0px;
    left: 0px;
}